/*반응형으로 만들기 때문에 px 대신 rem 사용 */

.pragmatic_logo {
font-family: 'Lobster', cursive;
}

.pragmatic_footer_button {
font-size : .9rem;
}

.pragmatic_footer {
text-align:center; margin-top: 2rem;
}

.pragmatic_header {
text-align:center; margin-top: 2rem 0;
}

/*스크린 크기가 500이하면 적용되는 스타일 */
@media screen and (max-width:500px) {
    html{
        font-size: 13px;
    }
}